[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
psycopg2-binary = ">=2.8"
Pillow = "*"
channels = "*"
channels_redis = "*"
daphne = "==4.1.0"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-node-assets = "*"
django-cors-headers = "*"
pyotp = "2.8.0"
qrcode = "*"


[dev-packages]

[requires]
python_version = "3.10"