.chat-title {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    float: right;
    white-space: nowrap;
    color : #FFFFFC;
}

#chat-message-input{
    background-color: rgba(160, 132, 182, 0.589);
    border-radius: 5px;
    padding : 3;
    border:0px;
}

#chat-message-input:focus {
    outline: none!important;
    box-shadow: none!important;
    border-color: transparent!important;
}

a, a > i{
    text-decoration: none;
    color: #FCFF76;
}

.chatvatar {
    display: block!important;
    max-width:50px !important;
    max-height:50px !important;
    margin-right : 6px;
    width: auto;
    height: auto;
	border-radius: 50%;
}

.chatHead {
    color :#a676ff;
}

.chatLog {
    overflow-x: auto!important;
    height:200px;
    white-space: nowrap;
    padding:5px;
    margin-bottom:10px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-wrap: break-word;
}

.friend-row {
    border-radius:5%;
    margin-bottom: 10px;
}

.time {
    font-size: 0.8vw;
}

@media (max-width: 768px) {
    .time {
        font-size: 10px;
    }
}

.conchasuwrawra{
    text-wrap: wrap!important;
    color: #383434;
}

.custom-text-color {
    color: #383434;
}

.chatFooter, .blockUser{
    text-align: right;
}
