#qrCode {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0;
}

.titreTwofa {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    float: right;
    white-space: nowrap;
}
